body {
    font-family: 'Roboto', sans-serif;
    /* uigradients.com */
    background: #3494E6;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 0;
    transition: 0.2s linear;
    opacity: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}
li:hover span {
    width: 40px;
    opacity: 1.0;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}